BasedOnStyle: Google
ColumnLimit: 100
PointerAlignment: Left
IndentWidth: 2
DerivePointerAlignment: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
SortIncludes: false
