# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

BasedOnStyle: Google
ColumnLimit: 100
PointerAlignment: Left
IndentWidth: 2
DerivePointerAlignment: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
SortIncludes: false
